.vscode
*.log
*.log.*
Snake.zip

# VM files except the important ones.
*.vm
!Array.vm
!Keyboard.vm
!Math.vm
!Memory.vm
!Output.vm
!Screen.vm
!String.vm
!Sys.vm

# Testing the snake logic in javascript.
jstest